<h1>お問い合わせ</h1>
<br>
  <%= form_for @inquiry do |f| %>

    <table class="table">

    <tr>
      <th>名前<span class="text-danger">（必須）</span></th>
      <td  class:'control-label'><%= f.text_field :name, required: true %></td>
    </tr>
    
    <tr>
      <th>メールアドレス<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :email, required: true %></td>
    </tr>
    
    <tr>
      <th>電話番号<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :phone, required: true %></td>
    </tr>    
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :content, required: true %></td>
    </tr>
  </table>
  <%= f.submit "送信", :class => "btn btn-primary" %>
<% end %>
<hr>
  <p><a href="/"  class="btn btn-outline-success">トップに戻る</a></p>
